$pjs_green: #7AAB32;

.pjs-three-col-cards {
	padding: 3rem 0;

	@include media-breakpoint-up(lg) {
		padding: 6rem 0;
	}

	h3 {
		font-weight: 700;
	}

	.wp-block-button {

		&__link {

			background-color: $pjs_green !important;
			color: var(--white) !important;
			transition: all 0.3s ease-in-out;
			border-color: $pjs_green;
			padding: 0.5rem 1rem !important;

			&:hover {
				text-decoration: none;
				background-color: var(--white) !important;
				color: $pjs_green !important;
			}
		}
	}
}