.hero {
	position: relative;
	overflow: hidden;
	width: 100vw;
	margin-left: calc( -50vw + 50% );
	margin-right: calc( -50vw + 50% );
	background: linear-gradient(to bottom, transparent 40%, rgba(0,0,0,0.75) 100%);

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
    	object-fit: cover;
    	z-index: -1;
	}

	&__text {
		padding: 4rem 1rem;
		color: #fff;
		font-weight: 500;
		line-height: normal;

		@include media-breakpoint-up(md) {
			padding: 6rem 0;
		}

		@include media-breakpoint-up(lg) {
			padding: 10rem 0;
		}

		h1 {
			font-size: 2.5rem;
			text-transform: uppercase;
			font-weight: 700;

			@include media-breakpoint-up(lg) {
				font-size: 5rem;
			}

			+ p {
				margin-top: 2rem;
			}
		}
	}
}