.banner {
    position: relative;
    z-index: 9;

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 1rem 0;
    }

    &__col {

        &:last-of-type {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    &__search-wrapper {
        position: relative;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    &__hamburger {
        margin-left: 2rem;

        &.open {

            span {
                opacity: 1;
                transform: rotate(45deg) translate(0px, 1px);
                background: #232323;

                &:nth-last-of-type(2) {
                    transform: rotate(-45deg) translate(-9px, 9px);
                }

                &:last-of-type {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }
            }
        }

        span {
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            position: relative;
            background: #1a1a1a;
            border-radius: 3px;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;

            &:first-of-type {
                transform-origin: 0% 0%;
            }

            &:nth-last-of-type(2) {
                transform-origin: 0% 100%;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .brand {
        font-size: 1.5rem;
        color: #1a1a1a;
        font-weight: 700;

        &:hover {
            text-decoration: none;
        }
    }

    .nav-primary {
        position: absolute;
        background-color: var(--white);
        top: 100%;
        right: -100%;
        width: 100%;
        padding: 1rem 0;
        transition: right 0.3s ease-in-out;

        &.open {
            right: 0;
        }
    }

    .nav {
        flex-direction: column;

        @include media-breakpoint-up(sm) {
            flex-direction: row;
        }

        li {
            @extend .nav-item;

            &:not(:first-of-type) {

                @include media-breakpoint-up(sm) {
                    margin-left: 1rem;
                }
            }
        }

        a {
            @extend .nav-link;
            position: relative;
            padding: 0.5rem 0;
            color: var(--black);
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $pjs_green;

                &:after {
                    width: 100%;
                    left: 0;
                }
            }

            &:after {
                content: "";
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: $pjs_green;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
        }
    }
}

.search {
    position: relative;
    width: 20px;
    margin: 0 auto;
    text-align: center;

    &__circle {
        width: 20px;
        height: 20px;
        border: 2px solid #333;
        border-radius: 50px;
    }

    &__rectangle {
        position: absolute;
        right: -6px;
        bottom: -2px;
        width: 12px;
        transform: rotate(45deg);
        border: 1px solid #333;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
    }
}

